In [1]:
i = 50
i
type(i)

int

In [2]:
j = 4.5
type(j)

float

In [3]:
name = "nikki"
type(name)
number="345"
type(number)
print(type(number))
#print(name+number)

<class 'str'>

In [4]:
print("Net" + "flix")

Netflix

In [5]:
num = int(input("enter radius"))
num
area = 3.14*num*num

print("area of cirlce is :",area)

area of cirlce is : 3629.84

In [6]:
x = None
print(x)

None

In [7]:
#Special datatypes
#List

names = ["John","Herry","Robert"]
print(names[0])
names[0] = "Jack"
print(names)

John
['Jack', 'Herry', 'Robert']

In [ ]:
#Tuples
coordinates = (56.9, 53.9)
print(coordinates)
coordinates[0] = 99.7
print(coordinates)

(56.9, 53.9)

TypeError: 'tuple' object does not support item assignment

In [4]:
#Sets
num = {1,2,2,3,3,3,4,5}
fruits = {"apple","banana","cherry","apple"}
fruits.add("pineapple")
print(fruits)

{'pineapple', 'apple', 'cherry', 'banana'}

In [6]:
for i in fruits:
    print(i)

pineapple
apple
cherry
banana

In [8]:
#Dictionaries
car_info = {
    "brand": "ford",
    "model": "mustang",
    "year":  1964
}
print(car_info)
print(car_info["model"])

{'brand': 'ford', 'model': 'mustang', 'year': 1964}
mustang