In [2]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [3]:
for i in range(17,171,17):
    print(i)

17
34
51
68
85
102
119
136
153
170

In [4]:
fruits=["orange","apple","berry","banana","grape"]
print(fruits)

['orange', 'apple', 'berry', 'banana', 'grape']

In [6]:
for fruits in fruits:
    print(fruits,fruits,fruits, end="#" ,sep="*")

orange*orange*orange#apple*apple*apple#berry*berry*berry#banana*banana*banana#grape*grape*grape#

In [7]:
for i in range(1,11):
    print(f"24 x {i} = {24*i}")

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [8]:
#WAP to find all even numbers from 1 to 100

for i in range(1,101):

    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
#WAP to find the number between 323 and 4567 which are divisible by 7 and 5.

for i in range(323,4567):
    if(i%5==0 and i%7==0):
        print(i)

350
385
420
455
490
525
560
595
630
665
700
735
770
805
840
875
910
945
980
1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975
3010
3045
3080
3115
3150
3185
3220
3255
3290
3325
3360
3395
3430
3465
3500
3535
3570
3605
3640
3675
3710
3745
3780
3815
3850
3885
3920
3955
3990
4025
4060
4095
4130
4165
4200
4235
4270
4305
4340
4375
4410
4445
4480
4515
4550

In [10]:
sum=0

for i in range(1,51):
    if(i%2==0):
        sum=sum+i
print(sum)

650

In [11]:
#While loop

num=1
while num<=10:
    print(f"24 x {num} = {24*num}")
    num=num+1

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [12]:
sum=0

a=1
while a<=100:
    sum=sum+a
    print(sum)
    a=a+1

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [13]:
#break and continue

fruits=["banana"," berry","apple","kiwi"]

for fruits in fruits:
    if fruits=="apple":
        break
    print(fruits)

banana
 berry

In [17]:
fruits=["banana","berry","apple","kiwi"]

for fruits in fruits:
    if fruits=="apple":
        continue
    print(fruits)

banana
berry
kiwi