In [2]:
student={
    "shaili":"99.9",
    "sadhvi":"45",
    "awantika":"98",
    "aadya":"65"
}
print(student)

{'shaili': '99.9', 'sadhvi': '45', 'awantika': '98', 'aadya': '65'}

In [ ]:
How to declare dictionaries
How to access keys and values
How to apply loops
How to make nested dictionaries
How to access values in nested dictionaries

In [10]:
temp = {
    'Lko' :[35,40,37],
    'Delhi' :[30,32,34],
    'Mumbai' :[36,38,40]
}
print(temp)

{'Lko': [35, 40, 37], 'Delhi': [30, 32, 34], 'Mumbai': [36, 38, 40]}

In [5]:
info =dict(name= "awantika",age=input("Enter your age"),city="Lko")
print(info)

{'name': 'awantika', 'age': '45', 'city': 'Lko'}

In [6]:
#1st method to access value through key
print(student['awantika'])
info['city']

98

'Lko'

In [10]:
#2nd method to access value through key
student.get('awantika')
temp.get("Lko")

[35, 40, 37]

In [3]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['shaili', 'sadhvi', 'awantika', 'aadya'])
dict_values(['99.9', '45', '98', '65'])
dict_items([('shaili', '99.9'), ('sadhvi', '45'), ('awantika', '98'), ('aadya', '65')])

In [6]:
for k,v in info.items():
    print(f'{k}:{v}')

name:awantika
age:45
city:Lko

In [7]:
company={
    'emp001':{
        'name':'Alice',
        'age':'25',
        'department':'HR'
    },
    'emp002':{
        'name':'vaibhav',
        'age':'21',
        'department':'IT'
    },
    'emp003':{
        'name':'awantika',
        'age':'21',
        'Department':'Finance'
    },
}
print(company)

{'emp001': {'name': 'Alice', 'age': '25', 'department': 'HR'}, 'emp002': {'name': 'vaibhav', 'age': '21', 'department': 'IT'}, 'emp003': {'name': 'awantika', 'age': '21', 'Department': 'Finance'}}

In [4]:
company['emp004']={
    'name':'Vaibhav ji',
    'age':'23',
    'department' : 'playboy'
}
print(company)

{'emp001': {'name': 'Alice', 'age': '25', 'department': 'HR'}, 'emo002': {'name': 'vaibhav', 'age': '21', 'department': 'IT'}, 'emp003': {'name': 'awantika', 'age': '21', 'Department': 'Finance'}, 'emp004': {'name': 'Vaibhav ji', 'age': '23', 'department': 'playboy'}}

In [8]:
company['emp002']['department']

'IT'

In [11]:
#print the average temperature of lko key of temp dictionary
print(sum(temp['Lko'])/len(temp['Lko']))

37.333333333333336